<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="ioService" class="ru.cr.hw.service.StreamsIOService">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>
    <!-- Бин для TestFileNameProvider -->
    <bean id="testFileNameProvider" class="ru.cr.hw.config.AppProperties">
        <constructor-arg value="questions.csv"/>
    </bean>

    <!-- Бин для QuestionDao -->
    <bean id="questionDao" class="ru.cr.hw.dao.CsvQuestionDao">
        <constructor-arg ref="testFileNameProvider"/>
    </bean>

    <!-- Бин для TestService -->
    <bean id="testService" class="ru.cr.hw.service.TestServiceImpl">
        <constructor-arg ref="questionDao"/>
        <constructor-arg ref="ioService"/>
    </bean>

    <!-- Бин для TestRunnerService -->
    <bean id="testRunnerService" class="ru.cr.hw.service.TestRunnerServiceImpl">
        <constructor-arg ref="testService"/>
    </bean>
</beans>
